<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Food App</title>
  </head>
  <body>
    <a class="food-index-link" href="/food">Browse Food</a>
    <a class="food-index-link" href="/food/new">Add New Food</a>
    <h1>Welcome to the Food app!</h1>
    <img class="food-pic1" 
    src="https://cdn-icons-png.flaticon.com/512/1046/1046784.png" alt="Fast food icons" 
    title="Fast food icons created by Freepik - Flaticon">

    <p>An app for collecting your favorite food.</p>
  </body>
</html>
